
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href= > -->
	<title></title>
</head>
<body>

<form action="{% url 'message-detail' message.id %}" method="post">
	{% csrf_token %}
<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-lg">
				<h3>ID:{{ object.id }}</h3>
			</div>
			<div class="col-lg">
				<h3> Title :{{object.title}} </h3>
			</div>
			
		</div>
	</div>
<!-- 
	<div class="container">
			count = 1
			<div class="row">
				<div class="col">
					{{object.id}}
				</div>
				<div class="col">
				
				</div>
				<div class="col">
				</div>
			</div>

		</div>	
 -->

 <div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line1: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line1}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll1}}</label>
				</div>
				<div class="col-sm">
					<label> {{object.flash1}} </label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time1}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line2: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line2}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll2}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.flash2}} </label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time2}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line3: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line3}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll3}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.flash3}} </label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time3}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line4: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line4}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll4}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.flash4}} </label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time4}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line5: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line5}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll5}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.flash5}} </label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time5}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line6: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line6}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll6}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.flash6}}</label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time6}} </label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line7: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line7}} </label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll7}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.flash7}}</label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time7}}</label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div><div class="row">
				<div class="col-2">
				<label class="col-sm-1 col-form-label">Line8: </label>
						
				</div>
				<div class="col-lg">
					<label>{{object.line8}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.scroll8}}</label>
				</div>
				<div class="col-sm">
					<label>{{object.flash8}}</label>
					<label class="form-check-label" for="flexCheckDefault">
				</div>
		
				<div class="col-sm">
					<label>{{object.transition_time8}}</label>
				</div>
				<div class="col-sm">
					<label >sec</label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label>Voice File Name:</label>
				</div>
				<div class="col">
					<label>{{object.voice_file_name}}</label>
				</div>
			</div>


<div class="row">
	<div class="col">
			<a type="submit" class="btn btn-primary" href="{% url 'canned_text'  %}">Create Message</a>
	</div>
	<div class="col">
		<a class="btn btn-danger" href="{% url 'message-delete' object.id %}">Delete Message</a>
	</div>
	
	<div class="col">
	<a class="btn btn-warning" href="{% url 'message-update' object.id %}">Update Message</a>
	</div>
		
</div>	


</form>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>